# nextcloud.env for Nextcloud-FPM + PostgreSQL + Redis + Nginx
NEXTCLOUD_VERSION=30.0.8
NEXTCLOUD_ADMIN_USER=admin
NEXTCLOUD_ADMIN_PASSWORD=618d2882a0e3afc0
NEXTCLOUD_TRUSTED_DOMAINS=nextcloud.local
NEXTCLOUD_URL=https://nextcloud.local
TRUSTED_PROXY=192.168.0.1
POSTGRES_USER=nextcloud
POSTGRES_DB=nextcloud
POSTGRES_HOST=nextcloud-postgres
POSTGRES_PASSWORD=183284b2f9e41c1f
REDIS_HOST=nextcloud-redis

# OnlyOffice Document Server Configuration
ONLYOFFICE_SERVER_URL=https://office.deine-domain.de
ONLYOFFICE_JWT_SECRET=DeinJWTSecretHier
