# nextcloud.env for Nextcloud-FPM + PostgreSQL + Redis + Nginx
NEXTCLOUD_DB_USER=nextcloud
NEXTCLOUD_DB_PASSWORD=e7e6f33250fe444b
NEXTCLOUD_ADMIN_USER=admin
NEXTCLOUD_ADMIN_PASSWORD=618d2882a0e3afc0
NEXTCLOUD_TRUSTED_DOMAINS= nextcloud.local
POSTGRES_USER=nextcloud
POSTGRES_DB=nextcloud
POSTGRES_HOST=nextcloud-postgres
POSTGRES_PASSWORD=183284b2f9e41c1f
REDIS_HOST=nextcloud-redis
